<div class="columns">
  <div class="column">
    <ul class="steps is-narrow is-medium is-left has-content-centered">
      <li class="steps-segment has-gaps">
        <a href="#" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <fa-icon [icon]="faShoppingCart"></fa-icon>
            </span>
          </span>
          <div class="steps-content">
            <p class="heading">Shopping Cart</p>
          </div>
        </a>
      </li>
      <li class="steps-segment is-active has-gaps">
        <a href="#" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <fa-icon [icon]="faEdit"></fa-icon>
            </span>
          </span>
          <div class="steps-content">
            <p class="heading">Customize Products</p>
          </div>
        </a>
      </li>
      <li class="steps-segment has-gaps">
        <a href="#" class="has-text-dark">
          <span class="steps-marker">
            <span class="icon">
              <fa-icon [icon]="faUserCircle"></fa-icon>
            </span>
          </span>
          <div class="steps-content">
            <p class="heading">User Information</p>
          </div>
        </a>
      </li>
      <li class="steps-segment has-gaps">
        <span class="steps-marker">
          <span class="icon">
            <fa-icon [icon]="faDollarSign"></fa-icon>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Payment</p>
        </div>
      </li>
      <li class="steps-segment has-gaps">
        <span class="steps-marker is-hollow">
          <span class="icon">
            <i class="fa fa-check"></i>
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">Confirmation</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="buttons">
      <a class="button is-warning is-rounded is-medium is-outlined">
        <strong>Start</strong>
      </a>
    </div>
  </div>
</div>
