<div class="columns">
  <div class="column is-fullwidth">
    <section class="hero is-fullwidth">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title is-size-4">
            Plus de 500 000 clients connectés
          </h1>
          <h2 class="subtitle is-size-5">
            MaisonVivaldi simplifie la création de produits sur mesure et permet à des milliers
            de commerçants de bénéficier de produits de haute qualité.
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="videoWrapper">
      <iframe width="560" height="349" src="https://www.youtube.com/embed/kjYm_hqDVGU"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</div><br>
