<div class="columns">
  <div class="column">
    <section class="hero is-small">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title is-size-4">
            Des produits exceptionnels, prêts à être conçus
          </h1>
          <h2 class="subtitle is-size-5">
            Choisissez parmi plus de 300 produits personnalisés pour votre magasin de e-commerce.
            Proposés par des fournisseurs d'imprimés du monde entier.
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="columns columns-1">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <div class="view overlay zoom">
          <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/bonnet.png" class="img-fluid "
               alt="sample image">
        </div>
      </div>
      <div class="content">
        <div class="container is-left">
          <div class="container has-text-centered container-description">
            <h1 class="title is-5">
              Bonnet
            </h1>
            <p class="subtitle is-6 has-text-grey">
              50+ Produits
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <div class="view overlay zoom">
          <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/mask.png"
               class="img-fluid "
               alt="sample image">
        </div>
      </div>
      <div class="content">
        <div class="container is-left">
          <div class="container has-text-centered container-description">
            <h1 class="title is-5">
              Mask
            </h1>
            <p class="subtitle is-6 has-text-grey">
              40+ Produits
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <div class="view overlay zoom">
          <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/Pull.png"
               class="img-fluid "
               alt="sample image">
        </div>
      </div>
      <div class="content">
        <div class="container is-left">
          <div class="container has-text-centered container-description">
            <h1 class="title is-5">
              Pull
            </h1>
            <p class="subtitle is-6 has-text-grey">
              30+ Produits
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <div class="view overlay zoom">
          <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/T-shirt.png"
               class="img-fluid "
               alt="sample image">
        </div>
      </div>
      <div class="content">
        <div class="container is-left">
          <div class="container has-text-centered container-description">
            <h1 class="title is-5">
              T-shirt
            </h1>
            <p class="subtitle is-6 has-text-grey">
              20+ Produits
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <div class="view overlay zoom">
          <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/tote.png"
               class="img-fluid "
               alt="sample image">
        </div>
      </div>
      <div class="content">
        <div class="container is-left">
          <div class="container has-text-centered container-description">
            <h1 class="title is-5">
              Tote
            </h1>
            <p class="subtitle is-6 has-text-grey">
              50+ Produits
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns columns-2">
  <div class="column has-text-centered">
      <button class="button is-ghost">
        Tous les produits
      </button>
  </div>
</div>
