<div class="columns">
  <div class="column">
    <section class="hero is-bold is-small">
      <div class="hero-body">
        <div class="container is-left">
          <figure class="image is-48x48">
            <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/tshirt.svg">
          </figure><br>
          <div class="container has-text-left container-description">
            <h1 class="title is-5">
              Créer des produits personnalisés
            </h1>
            <p class="subtitle is-6">
              Choisissez parmi plus de 300 articles différents. T-shirts, sweats à capuche, tasses, sacs,
              décorations, autocollants, etc.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="column">
    <section class="hero is-bold is-small">
      <div class="hero-body">
        <div class="container is-left">
          <figure class="image is-48x48">
            <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/store.svg">
          </figure><br>
          <div class="container has-text-left container-description">
            <h1 class="title is-5">
              Acheter en ligne
            </h1>
            <p class="subtitle is-6">
              Remplissez votre panier avec les produits que vous souhaitez et achetez-les instantanément
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="column">
    <section class="hero is-bold is-small">
      <div class="hero-body">
        <div class="container is-left">
          <figure class="image is-48x48">
            <img src="https://maisonvivaldi.s3.us-east-2.amazonaws.com/images/images/open-box.svg">
          </figure><br>
          <div class="container has-text-left container-description">
            <h1 class="title is-5">
              Nous nous occupons de l'exécution
            </h1>
            <p class="subtitle is-6">
              Nous gérons l'impression et l'expédition avec votre professionnalisation .
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
